@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.parallax {
  background-image: url("/handshake.jpg");
  min-height: 20rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.action_has {
  --color: 0 0% 60%;
  --color-has: 211deg 100% 48%;
  --sz: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--sz) * 2);
  width: calc(var(--sz) * 5);
  padding: 0.4rem 0.5rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid hsl(var(--color));
}

.has_saved:hover {
  border-color: hsl(var(--color-has));
  color: hsl(var(--color-has));
}

.has_liked:hover svg,
.has_saved:hover svg {
  color: hsl(var(--color-has));
}

.has_liked svg,
.has_saved svg {
  overflow: visible;
  height: calc(var(--sz) * 1.2);
  width: calc(var(--sz) * 1.75);
  --ease: cubic-bezier(0.5, 0, 0.25, 1);
  --zoom-from: 1.75;
  --zoom-via: 0.75;
  --zoom-to: 1;
  --duration: 1s;
}

.has_saved:hover path[data-path="box"] {
  transition: all 0.3s var(--ease);
  animation: has-saved var(--duration) var(--ease) forwards;
  fill: hsl(var(--color-has) / 0.35);
}

.has_saved:hover path[data-path="line-top"] {
  animation: has-saved-line-top var(--duration) var(--ease) forwards;
}

.has_saved:hover path[data-path="line-bottom"] {
  animation: has-saved-line-bottom var(--duration) var(--ease) forwards,
    has-saved-line-bottom-2 calc(var(--duration) * 1) var(--ease) calc(var(--duration) * 0.75);
}

@keyframes has-saved-line-top {
  33.333% {
    transform: rotate(0deg) translate(1px, 2px) scale(var(--zoom-from));
    d: path("M 3 5 L 3 8 L 3 8");
  }

  66.666% {
    transform: rotate(20deg) translate(2px, -2px) scale(var(--zoom-via));
  }

  99.999% {
    transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
  }
}

@keyframes has-saved-line-bottom {
  33.333% {
    transform: rotate(0deg) translate(1px, 2px) scale(var(--zoom-from));
    d: path("M 17 20 L 17 13 L 7 13 L 7 20");
  }

  66.666% {
    transform: rotate(20deg) translate(2px, -2px) scale(var(--zoom-via));
  }

  99.999% {
    transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
    d: path("M 17 21 L 17 21 L 7 21 L 7 21");
  }
}

@keyframes has-saved-line-bottom-2 {
  from {
    d: path("M 17 21 L 17 21 L 7 21 L 7 21");
  }

  to {
    transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
    d: path("M 17 20 L 17 13 L 7 13 L 7 20");
    fill: white;
  }
}

@keyframes has-saved {
  33.333% {
    transform: rotate(0deg) translate(1px, 2px) scale(var(--zoom-from));
  }

  66.666% {
    transform: rotate(20deg) translate(2px, -2px) scale(var(--zoom-via));
  }

  99.999% {
    transform: rotate(0deg) translate(0px, 0px) scale(var(--zoom-to));
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaders,
.loadersB {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  width: .3em;
  height: 4em;
  border-radius: 50px;
  background: #afb974;
}

.loader:after {
  content: "";
  position: absolute;
  top: 0;
  width: .3em;
  height: 1em;
  background: #e0e0e0;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
  box-shadow: inset 5px 5px 15px #d3d2d2ab, inset -5px -5px 15px #e9e9e9ab;
  mask-image: linear-gradient(to bottom,
      black calc(100% - 48px),
      transparent 100%);
}

.loader::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: .3em;
  height: 1.5em;
  background: #e0e0e0;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
  box-shadow: inset 5px 5px 15px #d3d2d2ab, inset -5px -5px 15px #e9e9e9ab;
  mask-image: linear-gradient(to top,
      black calc(100% - 48px),
      transparent 100%);
}

.loaderA {
  position: absolute;
  width: .3em;
  height: 4em;
  border-radius: 50px;
  background: transparent;
}

.ball0,
.ball1,
.ball2,
.ball3,
.ball4,
.ball5,
.ball6,
.ball7,
.ball8,
.ball9 {
  width: .3em;
  height: .3em;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px,
    0px -1px 15px -8px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
  background-color: #004436;
  animation: 3.63s move ease-in-out infinite;
}

.loader:nth-child(2) {
  transform: rotate(20deg);
}

.loader:nth-child(3) {
  transform: rotate(40deg);
}

.loader:nth-child(4) {
  transform: rotate(60deg);
}

.loader:nth-child(5) {
  transform: rotate(80deg);
}

.loader:nth-child(6) {
  transform: rotate(100deg);
}

.loader:nth-child(7) {
  transform: rotate(120deg);
}

.loader:nth-child(8) {
  transform: rotate(140deg);
}

.loader:nth-child(9) {
  transform: rotate(160deg);
}

.loaderA:nth-child(2) {
  transform: rotate(20deg);
}

.loaderA:nth-child(3) {
  transform: rotate(40deg);
}

.loaderA:nth-child(4) {
  transform: rotate(60deg);
}

.loaderA:nth-child(5) {
  transform: rotate(80deg);
}

.loaderA:nth-child(6) {
  transform: rotate(100deg);
}

.loaderA:nth-child(7) {
  transform: rotate(120deg);
}

.loaderA:nth-child(8) {
  transform: rotate(140deg);
}

.loaderA:nth-child(9) {
  transform: rotate(160deg);
}

.ball1 {
  animation-delay: 0.2s;
}

.ball2 {
  animation-delay: 0.4s;
}

.ball3 {
  animation-delay: 0.6s;
}

.ball4 {
  animation-delay: 0.8s;
}

.ball5 {
  animation-delay: 1s;
}

.ball6 {
  animation-delay: 1.2s;
}

.ball7 {
  animation-delay: 1.4s;
}

.ball8 {
  animation-delay: 1.6s;
}

.ball9 {
  animation-delay: 1.8s;
}

@keyframes move {
  0% {
    transform: translateY(0em);
  }

  50% {
    transform: translateY(3.7em);
  }

  100% {
    transform: translateY(0em);
  }
}

.tooltip-container {
  height: 1.2rem;
  min-width: 1.6rem;
  border-radius: 5px;
  background-color: #fff;
  background-image: linear-gradient(to left bottom,
      #f2f5f8,
      #ecf1f2,
      #e7eceb,
      #e3e7e4,
      #e1e2de);
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 10px 10px #a5b72e58;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 1;
}

.tooltip-container::before {
  position: absolute;
  content: "";
  top: -50%;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  border-radius: 5px;
  background-color: fff;
  background-image: linear-gradient(to left bottom,
      #A4B72E,
      #e4eaec,
      #d8dfde,
      #cdd3cf,
      #c5c7c1);
  width: 100%;
  height: 50%;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(-150deg) translateY(-110%);
  transition: transform 0.3s ease;
  z-index: -1;
}

.tooltip-container .text {
  color: #A4B72E;
  font-weight: bold;
  font-size: 10px;
}

.tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, white 1px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, white 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, white 1px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, white 1px),
    linear-gradient(white 3px, #f2f2f2 3px, #f2f2f2 78px, white 78px),
    linear-gradient(-90deg, #aaa 1px, white 1px),
    linear-gradient(-90deg, white 3px, #f2f2f2 3px, #f2f2f2 78px, white 78px),
    linear-gradient(#A4B72E 1px, #A4B72E 1px), #A4B72E;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px,
    80px 80px, 80px 80px;
  padding: 5px 10px;
  border: 1px solid #A4B72E;

  height: 1.2rem;
  width: 1.6rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
  font-size: 5px;
  color: #A4B72E;
  /* font-weight: 600; */
  text-shadow: 10px #A4B72E;
  /* z-index: ; */
}

/* .tooltip-container:hover { */
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
/* } */

.tooltip-container:hover::before {
  transform: rotateY(0);
  background-image: none;
  background-color: #004436;
}

.tooltip-container:hover .tooltip {
  top: -28px;
  opacity: 1;
  transition-duration: 0.3s;
}